<nav>
  <a href="{{ "/" | relative_url }}">
    <div class="business-card">
      <h3>Cameron Sexton</h3>
      <p>Software <br>& Sound</p>
    </div>
  </a>
  <ul>
    {% for item in site.data.navigation %}
      {% if page.title == 'resume' %}
        <li>
          <a href="{{ item.link | relative_url }}">
            <i class="material-icons" style="color: {{ item.color }}">{{ item.icon }}</i>
            {{ item.name }}
          </a>
        </li>
        <ul>
        {% for subitem in item.subdirectories %}
          <li>
            <a href="{{ subitem.link | relative_url }}">
              <i class="material-icons" style="color: {{ subitem.color }}">{{ subitem.icon }}</i>
              {{ subitem.name }}
            </a>
          </li>
        {% endfor %}
        </ul>
      {% else %}
        <li>
          <a href="{{ item.link | relative_url }}">
            <i class="material-icons" style="color: {{ item.color }}">{{ item.icon }}</i>
            {{ item.name }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <a class="github" href="https://github.com/ctsexton" target="_blank">
    {% include github.svg %}
  </a>
</nav>
