.timeline {
  position: relative;
  max-width: 700px;
  @media (min-width: $medium) {
    margin-top: 2em;
  }
  .event {
    position: relative;
    display: grid;
    .detail {
      padding-top: 1em;
      max-width: 100%;
      h4, h5 {
        padding-bottom: 0.5em;
      }
      li {
        padding-bottom: 0.5em;
      }
    }
  }
}
.employer {
  margin-bottom: 1em;
  margin-top: 1em;
  h1, h2, h3, h4, h5 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  h2, h3 { margin-top: 2em; }
}
.education {
  h2, h3 { margin-top: 2em; }
  .degrees {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .degree {
      margin-right: 1em;
      max-width: 350px;
    }
  }
  h4 {
    margin-bottom: 0.5em;
    margin-top: 2em;
  }
  p {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
  }
}
